@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  /* text */
  --very-dark-desaturated-blue: #1d1e35;
  --soft-red: #f47c57;

  /* Background gradient: */
  --soft-violet: #af67e9;
  --soft-blue: #6565e7;

  /* Text */
  --very-dark-grayish-blue: #4a4b5e;
  --dark-grayish-blue: #787887;

  /* Dividers */
  --light-grayish-blue: #e7e7e9;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  display: block;
}
button,
input {
  outline: none;
  border: none;
}
body {
  font-size: 62.5%;
  font-family: "Kumbh Sans", sans-serif;
  line-height: 1;
  font-weight: 400;
  min-height: 100vh;
  background: linear-gradient(180deg, #af67e9 0%, #6565e7 100%);
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  max-width: 1110px;
  margin: 100px auto;
  display: flex;
  background-color: whitesmoke;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
summary {
  list-style: none;
  display: flex;
  align-items: center;
}
.card-header {
  background-image: url(./images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-position: top -260px left -555px, bottom 0 right 0;
  object-fit: cover;
  position: relative;
}
.header-imgdesktop {
  padding: 100px 0 100px 0px;
  object-position: -68px 0;
}
.header-imgmobile {
  display: none;
}
.header-box {
  position: absolute;
  left: -20%;
  top: 42%;
}
.content-container {
  width: 50%;
  padding: 90px 40px;
  position: relative;
}
h1 {
  color: var(--very-dark-desaturated-blue);
  font-size: 2.2rem;
  padding-bottom: 30px;
  user-select: none;
}
h3 {
  width: 100%;
  user-select: none;
  font-weight: 400;
  font-size: 1rem;
  color: var(--very-dark-grayish-blue);
}
.icon-down {
  cursor: pointer;
  position: absolute;
  right: 0;
}
details {
  position: relative;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}
h3:hover {
  cursor: pointer;
  color: var(--soft-red);
}
.content-detail[open] h3 {
  font-weight: 700;
  color: var(--very-dark-desaturated-blue);
}
.content-detail[open] .icon-down {
  transform: rotate(180deg);
}
.summary-content {
  font-size: 0.875rem;
  color: var(--dark-grayish-blue);
  padding-top: 15px;
  line-height: 1.5;
}

@media screen and (min-width: 1024px) and (max-width: 1439.9px) {
  .container {
    max-width: 900px;
  }
}

@media screen and (min-width: 375px) and (max-width: 767.9px) {
  .container {
    display: flex;
    flex-direction: column;
    margin: 200px 20px;
  }
  .header-imgdesktop {
    display: none;
  }
  .header-box {
    display: none;
  }
  .header-imgmobile {
    display: block;
    width: 70%;
    object-position: unset;
    position: absolute;
    top: -106px;
    left: 50px;
  }

  .card-header {
    width: 100%;
    height: 150px;
    background-image: url(./images/bg-pattern-mobile.svg);
    background-position: top 0 left 33px, bottom 0 right 0;
    background-repeat: no-repeat;
    background-size: 80%;
    object-fit: cover;
  }
  .content-container {
    width: 100%;
    padding: 0 25px 40px;
  }
  h1 {
    text-align: center;
  }
  h3 {
    font-size: 0.875rem;
  }
  .summary-content {
    font-size: 0.875rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023.9px) {
    .container {
        display: flex;
        flex-direction: column;
        margin: 200px 30px;
      }
      .header-imgdesktop {
        display: none;
      }
      .header-box {
        display: none;
      }
      .header-imgmobile {
        display: block;
        width: 70%;
        object-position: unset;
        position: absolute;
        top: -230px;
        left: 110px;
      }
    
      .card-header {
        width: 100%;
        height: 310px;
        background-image: url(./images/bg-pattern-mobile.svg);
        background-position: top -8px left 56px, bottom 0 right 0;
        background-repeat: no-repeat;
        background-size: 80%;
        object-fit: cover;
      }
      .content-container {
        width: 100%;
        padding: 0 40px 40px;
      }
      h1 {
        text-align: center;
        font-size: 2.5rem;
      }
      h3 {
        font-size: 1.25rem;
      }
      .summary-content {
        font-size: 0.875rem;
      }
}

